<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
</head>
<body>
    <h1>All Listings</h1>
    <hr><br>
    <form method = "GET" action = "/listings/new">
        <button type = "submit">Create New Listing</button>
    </form>
    <br><hr>
    <ul>
        <% for(let listing of allListings) { %>
            <a href = "/listings/<%=listing._id%>"><li><%=listing.title%></li>
        <% } %>
    </ul>
</body>
</html>